AZURE_CLIENT_ID=your-app-registration-client-id
AZURE_CLIENT_SECRET=your-app-registration-client-secret
AZURE_TENANT_ID=your-tenant-id
APPLICATIONINSIGHTS_CONNECTION_STRING=your-application-insights-connection-string
RESOURCE_GROUP=your-resource-group-name
ACR_NAME=your-acr-name

